# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/venv/
backend/.env
backend/staticfiles/
*.sqlite3

# Env
.env
.env.local

# OS
.DS_Store

# IDE
.vscode/
.idea/
